<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOriginxDataService" />
                <binding name="BasicHttpBinding_IOriginxDataService1" />
                <binding name="BasicHttpBinding_IOriginxDataService2" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOriginxDataService" />
                <binding name="NetTcpBinding_IOriginxDataService1" />
                <binding name="NetTcpBinding_IEmployeeService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IEmployeeService1">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IOriginxDataService2" />
                <binding name="NetTcpBinding_IEmployeeService2">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ICustomerService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8070/OriginxDataService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOriginxDataService1"
                contract="EmployeeService.IOriginxDataService" name="BasicHttpBinding_IOriginxDataService1" />
            <endpoint address="net.tcp://localhost:8090/OriginxDataService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOriginxDataService1"
                contract="EmployeeService.IOriginxDataService" name="NetTcpBinding_IOriginxDataService1">
                <identity>
                    <userPrincipalName value="Ranganath\Ruwan Ranganath" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/EmployeeService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmployeeService"
                contract="EmployeeService.IEmployeeService" name="NetTcpBinding_IEmployeeService" />
            <endpoint address="http://localhost:8070/OriginxDataService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOriginxDataService"
                contract="OriginxWindowsService.IOriginxDataService" name="BasicHttpBinding_IOriginxDataService" />
            <endpoint address="net.tcp://localhost:8090/OriginxDataService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOriginxDataService"
                contract="OriginxWindowsService.IOriginxDataService" name="NetTcpBinding_IOriginxDataService">
                <identity>
                    <userPrincipalName value="Ranganath\Ruwan Ranganath" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/EmployeeService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmployeeService1"
                contract="OriginxWindowsService.IEmployeeService" name="NetTcpBinding_IEmployeeService1" />
            <endpoint address="http://localhost:8070/OriginxDataService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOriginxDataService2"
                contract="CustomerService.IOriginxDataService" name="BasicHttpBinding_IOriginxDataService2" />
            <endpoint address="net.tcp://localhost:8090/OriginxDataService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOriginxDataService2"
                contract="CustomerService.IOriginxDataService" name="NetTcpBinding_IOriginxDataService2">
                <identity>
                    <userPrincipalName value="Ranganath\Ruwan Ranganath" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/EmployeeService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmployeeService2"
                contract="CustomerService.IEmployeeService" name="NetTcpBinding_IEmployeeService2" />
            <endpoint address="net.tcp://localhost:8090/CustomerService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICustomerService"
                contract="CustomerService.ICustomerService" name="NetTcpBinding_ICustomerService" />
        </client>
    </system.serviceModel>
</configuration>