<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOriginxDataService" />
                <binding name="BasicHttpBinding_IOriginxDataService1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOriginxDataService" />
                <binding name="NetTcpBinding_IEmployeeService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ICustomerService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IWorlWideBranchService" />
                <binding name="NetTcpBinding_IOriginxDataService1" />
                <binding name="NetTcpBinding_IEmployeeService1">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ICustomerService1">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEmailService" />
                <binding name="WSHttpBinding_IEmailService1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8070/OriginxDataService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOriginxDataService"
                contract="EmailService.IOriginxDataService" name="BasicHttpBinding_IOriginxDataService" />
            <endpoint address="net.tcp://localhost:8090/OriginxDataService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOriginxDataService"
                contract="EmailService.IOriginxDataService" name="NetTcpBinding_IOriginxDataService">
                <identity>
                    <userPrincipalName value="Ranganath\Ruwan Ranganath" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/EmployeeService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmployeeService"
                contract="EmailService.IEmployeeService" name="NetTcpBinding_IEmployeeService" />
            <endpoint address="net.tcp://localhost:8090/CustomerService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICustomerService"
                contract="EmailService.ICustomerService" name="NetTcpBinding_ICustomerService" />
            <endpoint address="http://localhost:8070/EmailService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IEmailService" contract="EmailService.IEmailService"
                name="WSHttpBinding_IEmailService">
                <identity>
                    <userPrincipalName value="Ranganath\Ruwan Ranganath" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8070/OriginxDataService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOriginxDataService1"
                contract="WorldWideBranchService.IOriginxDataService" name="BasicHttpBinding_IOriginxDataService1" />
            <endpoint address="net.tcp://localhost:8090/WorldWideBranch"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWorlWideBranchService"
                contract="WorldWideBranchService.IWorlWideBranchService" name="NetTcpBinding_IWorlWideBranchService">
                <identity>
                    <userPrincipalName value="Yoman\Gantac" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/OriginxDataService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOriginxDataService1"
                contract="WorldWideBranchService.IOriginxDataService" name="NetTcpBinding_IOriginxDataService1">
                <identity>
                    <userPrincipalName value="Yoman\Gantac" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/EmployeeService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmployeeService1"
                contract="WorldWideBranchService.IEmployeeService" name="NetTcpBinding_IEmployeeService1" />
            <endpoint address="net.tcp://localhost:8090/CustomerService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICustomerService1"
                contract="WorldWideBranchService.ICustomerService" name="NetTcpBinding_ICustomerService1" />
            <endpoint address="http://localhost:8070/EmailService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IEmailService1" contract="WorldWideBranchService.IEmailService"
                name="WSHttpBinding_IEmailService1">
                <identity>
                    <userPrincipalName value="Yoman\Gantac" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>